{% extends 'base.html' %}
{% block menu_product %}active{% endblock %}
{% block submenu_list_items %}active{% endblock %}
{% block content %}
    <div class="col-md-12">
            <br>
           
            <br><br><br>
            <div class="content-panel table-responsive p-2">
                <table class="table table-striped table-bordered table-advance table-hover item-table">
                    <div class="d-flex justify-content-between w-100">
                        <!-- <div class="d-flex" style="padding: 5px">
                            <div>
                                <input type="text" class="form-control name_search" placeholder="Article" >
                            </div>
                            <div >
                                <button class="btn btn-primary search">>></button>
                            </div>
                        </div> -->
                        <div>
                            <form enctype="multipart/form-data" action="{% url 'product:addbulk' %}" method="post">
                                <input type="file" name="productsfile" id="" required>
                                <button class="btn btn-primary submitbulk">
                                    Ajouter
                                </button>
                            </form>
                        </div>
                    </div>
                    
                    <hr>
                    {% if paginator.page_range|length > 1 %}
                    <div class="d-flex justify-content-between">
                        <a  style="background-color: #3070A8; color: white" class="page_previous" href="{% if page_obj.has_previous %}{% url 'product:stock_items_list' %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" title="Previous"><<</a><a style="background-color: #3070A8; color: white" class="page_next" href="{% if page_obj.has_next %}{% url 'product:stock_items_list' %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" title="Next">>></a>
                    </div>
                {% endif %}
                    <thead>
                    <tr>
                        <th class="text-center">Article</th>
                        <th class="text-center">Marque</th>
                        <th class="text-center">Stock</th>
                        <th class="text-center">Bar Code</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody class="product-table-body text-center">
                    {% for item in object_list %}
                        <tr>
                            <td>{{ item.name}}</td>
                            <td class="#">{{ item.brand_name }}</td>
                            <td>{{ item.product_available_items|floatformat:-2 }}</td>
                            <td>{{ item.bar_code }}</td>
                            <td>
                                <a href="{% url 'product:update_product' pk=item.id %}"><button class="btn btn-success btn-xs"><i class="fa fa-edit"></i></button></a>
                                <a href="{% url 'product:stockin_list' product_id=item.id %}"><button class="btn btn-primary btn-xs"><i class="fa fa-plus"></i></button></a>
                                <a href="{% url 'product:stockout_list' product_id=item.id %}"><button class="btn btn-danger btn-xs" title="Stock Out"><i class="fa fa-minus"></i></button></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if paginator.page_range|length > 1 %}
                    <div class="text-center">
                        <ul class="pagination d-flex justify-content-between"></ul>
                            <li><a  style="background-color: #3070A8; color: white" class="page_previous" href="{% if page_obj.has_previous %}{% url 'product:stock_items_list' %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" title="Previous"><<</a></li>
                            <li><a style="background-color: #3070A8; color: white" class="page_next" href="{% if page_obj.has_next %}{% url 'product:stock_items_list' %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" title="Next">>></a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    // $('.submitbulk').on('clcik', (e)=>{
    //     console.log('hello')
    //     e.preventDefault
    //     var form = new FormData();
    //     form.append("file", $('input[name=productsfile]')[0].files[0]);
    //     $.ajax({
    //         url: "{% url 'product:addbulk' %}",
    //         type: "POST",
    //         data: form,
    //         processData: false,
    //         contentType: false,
    //         success: function (data) {
    //             console.log('data')
    //         }
    //     });

    // })
    $(function () {
        $('.search').on('click', function () {
            var url = '{% url "product:stock_items_list" %}';
            window.location.href  = url + '?' + 'name=' + $('.name_search').val();
        });
    });
$('#add-product').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});
</script>
{% endblock %}
